#!/bin/bash

API_PLUGINS=(
	permissions roles profiles meetings p2p connections
)
WEB_PLUGINS=(
	meetings p2p
)

API_IMAGE=way-meet01-api
API_CONTAINER=way-meet01-api
DB_IMAGE=mongo
DB_CONTAINER=way-meet01-db
WEB_IMAGE=way-meet01-web
WEB_CONTAINER=way-meet01-web